.person__img {
    background-position: center;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px; 
}

.person__img--person1 {
    background-image: url('../../img/people/person1.jpg');
}

.person__img--person2 {
    background-image: url('../../img/people/person2.jpg');
}

.person__img--person3 {
    background-image: url('../../img/people/person3.jpg');
}